.card {
    max-height: 250px;
    min-height: 200px;
    font-weight: 400;
    background: #fff;
    border-radius: 5px;
    width: 330px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    font-family: 'Roboto', sans-serif;
}

.card-flat{
    font-size: 14px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 9px 46px 8px, rgba(0, 0, 0, 0.12) 0px 11px 15px -7px, rgba(0, 0, 0, 0.2) 0px 24px 38px 3px;
    z-index: 10;
}

.card--title{
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    min-height: fit-content;
}

.card--content{
    color: rgba(0, 0, 0, 0.54);
    height: fit-content;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    overflow-y: scroll;
    width: 90%;
    padding: 16px;
}

.card--meta{
    font-size: 16px;
    padding: 8px;
    min-height: fit-content;
    text-align: end;
    color: rgba(0, 0, 0, 0.54);
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.card--meta-text{
    font-size: 12px;
    text-align: start;
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
}

.card--content:hover::-webkit-scrollbar,
.card--content:hover::-webkit-scrollbar-thumb,
.card-flat:hover::-webkit-scrollbar,
.card-flat:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.card--content::-webkit-scrollbar,
.card-flat::-webkit-scrollbar {
    visibility: hidden;
    width: .2em !important;
}

.card--content::-webkit-scrollbar-thumb,
.card-flat::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}